@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
:root {
    --light-text: grey;
    --dark-text: idk yet;
    --light:#fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --bottom-shadow: 0 6px 6px -6px black;
    --bigshadow: 3px 5px 7px rgba(104, 104, 104, 0.8);
    --grey-background: #D9D9D9;
    --dark-blue: #0D2959;
    --yellow:#F3BB45;
    --fancy-font: 'Playfair Display', serif;

}

* {
    padding: 0;
    margin: 0;
}
#ham {
    display: none;
}
nav {
    width: 100%;
    margin: auto;
    background-color: white;
    box-shadow: var(--bottom-shadow);
    z-index: 0;
    position: fixed;
    margin-top: 100px;

}
header img {
    height: 100px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;   
    width: 80%;
}
#main-ul {
    margin: 0 auto;
}
header {
    display: flex;
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
}
header .title {
    font-size: 35px;
    margin: auto;
    margin-left: 0px;
    color: var(--dark-blue);
}
nav ul li:hover {
    background: var(--grey-background);
}
nav ul li {
    width: 120px;
    background: #FFF;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.hero {
    background-image: url("whs-images/foyer-whs.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -2;
}

.hero h1 {
    font-size: 100px;
    font-weight: bold;
    margin-top: 160px;
}
.hero h1, .hero h3 {
    color: var(--dark-blue);
    margin-left: 50px;
}
.hero h3 {
    font-size: 50px;
}

nav ul li a {
    color: var(--light-text);
    text-decoration: none;
}
nav ul li ul li {
    border-top: 1px solid var(--light);
    display: block;
    background: var(--grey-background);
}
nav ul li ul {
    display: none;
}
nav ul li:hover ul{
    display: block;
}
.rele-img img {
    width: 100%;
}
.linkwrap {
    display: grid;
    justify-content: left;
    text-align: left;
    grid-template-areas: 
    "img title"
    "img words";
    margin: auto;
    width: 80%;
    box-shadow: var(--shadow);
}
.linkwrap img{
    grid-area: img;
    width: 500px;
    margin: -5px;
    margin-top: 0.0125px;
}
.linkwrap h1 {
    grid-area: title;
    font-family: var(--fancy-font);
}
.linkwrap p {
    grid-area: words;
}
.wrapper {
    width: 100%;
    margin-top: 50px;
}
.attend-words {
    align-items: center;
    text-align: left;
    color: var(--dark-blue);
    font-family: var(--fancy-font);
    margin: auto;
    margin-left: 60px;
    
}
.rele-a {
    text-decoration: none;
}
footer ul li a {
    color: var(--light-text);
    text-decoration: none;
}
footer {
    width: 100%;
    margin: auto;
    z-index: 0;
    font-size: 20px;
    background-color: var(--grey-background);
    color: var(--dark-blue);
    margin-top: 50px;

}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: var(--dark-blue);
}
footer ul li {
    width: 120px;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
#quick-a {
    padding-top: 20px;
    margin: 10px;
    margin-left: 40px;
}
footer ul li a {
    color: var(--dark-blue);
}
@media only screen and (max-width: 700px) {
    nav ul li {
        display: none;
    }
    #ham {
        display: block;
    }
    .nav.active {
        display: flex;
    }
    .linkwrap{
        display: block;
    }
    .img-rele {
        width: 50px;
    }
    
    
}
.footer-box {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--fancy-font);
    text-align: left;
    font-size: small;
    align-items: flex-start;
}
.footer-box img {
    height: 100px;
}
.footer-box a {
    text-decoration: none;
    color: blue;
}
.title {
    position: relative;
    top: 200px;
    left: 150px;
    height: 200px;
    color: var(--dark-blue);
    font-size: larger;
    width: 50%;
    z-index: -1;
}
.table {
    padding-top: 70px;
    height: 290px;
    margin: 0 auto;
    font-size: larger;
}
table {
    margin: auto;
} 
.table table, th, td {
    border: 0.5px solid grey;
    border-collapse: collapse;
}
.table td:nth-child(even), th:nth-child(even) {
    background-color: var(--grey-background);
}
.footer-box img {
    margin-top: -20px;
}
#table-2 {
    margin-top: 20px;
}
.table td {
    padding: 5px;
    padding-left: 10px;
}
.word-t {
    background-color: #0D2959;
}
.attend-t td {
    padding: 5px;
    padding-left: 10px;
}
.attend-t {
    padding-top: 70px;
    height: 550px;
    margin: 0 auto;
    font-size: larger;
    display: flex;
    justify-content: flex-start;
    width: 90%;
}
.attend-t table, th, td {
    border: 0.5px solid grey;
    border-collapse: collapse;
}
.days-a {
    background-color: #0D2959;
    color: white;
    font-weight: bold;
    padding:px;
}
.days-a td {
    padding: 20px 10px;
}
.period-a p{
    padding: 20px 5px;
}
.present-a {
    padding: 5px;
    background-color: seagreen;
    color: white;
    width: 10px;
    border-radius: 3px;
}
.where-a {
    display: none;
}
.attend-t table:hover .where-a {
    display: block;
}
.attend-t table:hover > #select-a {
    display: none;
}
.present-j {
        padding: 5px;
        background-color: gold;
        color: black;
        width: 10px;
        border-radius: 3px;
}
.present-u {
    padding: 5px;
        background-color: crimson;
        color: white;
        width: 10px;
        text-align: center;
        border-radius: 3px;
}
.present-n {
    height: 32px ;
}
#select-a {
    position: relative;
    top: 100px;
    left: 970px;
    color: var(--dark-blue);
    font-size: larger;
    width: 20%;
}
#balls {
    font-size: larger;
    color: #0D2959;
    font-weight: bold;
    border: 0px;
}
#balls td{
    padding: 17px;
    border: 1px white solid;
}
.week-change {
    height: 150px;
    background-color: #0D2959;
    margin-top: 200px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.week-change p {
    color: #D9D9D9;
    padding: 10px;
    font-size: larger;

}
